.top-nav ul.top-menu > li .dropdown-menu.logout {
	width: 200px !important;
}
.dropdown-menu.extended.logout > li {
	float: left;
	text-align: center;
	width: 50%;
}
.login-body {
	background-image: url(../../../assets/business.jpg) !important;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;
	background-color: transparent !important;
}
.login-wrapper {
	background: #000000;
	/* Old browsers */

	opacity: .5;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}
.logo img {
	height: 100px;
	width: auto;
}
.logo {
	text-align: center;
}
.logo-text {
	color: #ffffff;
	text-align: center;
}
#full-login {
	padding: 0px !important;
}
.form-login {
	max-width: 330px;
	margin: 50px auto;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.form-login h2.form-login-heading {
	margin: 0;
	padding: 20px 15px;
	text-align: center;
	background: #41cac0;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
.form-login .checkbox {
	margin-bottom: 14px;
}
.form-login .checkbox {
	font-weight: normal;
	color: #b6b6b6;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
.form-login .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-login .form-control:focus {
	z-index: 2;
}
.form-login input[type="text"], .form-login input[type="password"] {
	margin-bottom: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #eaeaea;
	box-shadow: none;
	font-size: 12px;
}
.form-login .btn-login {
	background: #f67a6e;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 4px #e56b60;
	margin-bottom: 20px;
}
.form-login p {
	text-align: center;
	color: #b6b6b6;
	font-size: 16px;
	font-weight: 300;
}
.form-login a {
	color: #41cac0;
}
.form-login a:hover {
	color: #b6b6b6;
}
.login-min-height {
	min-height: 600px;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid #41CAC0;
	top: 10px;
	bottom: 0;
	position: relative;
	text-align: center;
	left: 545px;
}
ul#nav-accordion li a {
font-size: 14px;
}
body{
	color:#333333 !important;
}
.panel-heading-custom{
	background-color: #41cac0;
	color:#ffffff;
	width:100%;
}
.panel-heading-custom:hover{
	cursor: pointer;
}
.panel-main-custom{
	background-color: #00a8b3;
	color:#ffffff;
	width:100%;
}
table.table.table-striped.table-advance.table-hover img {
height: 100px;
width: auto;
}
.panel-heading-title{
	margin: 0;
	padding: 5px 0px;
}